{% extends 'log_in/profile-details.html' %}

{% load static %}

{% block major_section %}
<form method="post" action="{% url 'edit-major' pk %}">
	<div class="lbl-ipt-grp">
		<label for="major">Major: </label>
		<input {% if isMultipleValue %} list="{{ listAttributeName }}" {% endif %} type="text" class="{{ classOfInput }}" name="{{ nameOfInput }}" placeholder="{{ existingValue }}" {% if size %} size={{ size }} {% endif %} autocomplete="off">
		{% block field_data_list %}
		<datalist id="{{ listAttributeName }}">
			{% for option in options_for_datalist %}
				{% if option %}
					<option value="{{ option.major }}">
				{% endif %}
			{% endfor %}
		</datalist>
		{% endblock %}
		<input type="image" id="save-icon" src="{% static 'log_in/image/icons8-save-50.png' %}" width=20 height=20 title="Save changes.">
		<input formaction="{% url 'delete-major' pk  %}" type="image" id="delete-icon" src="{% static 'log_in/image/icons8-delete-view-50.png' %}"  width=20 height=20 title="Delete/remove.">
	</div>
		   {% csrf_token %}
</form>
{% endblock %}
