{% load static %}
<!doctype html>
	<meta charset="utf-8">
	{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'log_in/css/profile.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'log_in/css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'log_in/css/base-profile.css' %}">
	{% endblock %}
	{% comment %}
	lol, i have to learn how css links in inherited templates work.
	for some reason i have to place all the css links here on the index.
	{% endcomment %}

	<header>
		<div class="top-nav-box">
			<div class="inner-nav-left-box">
				<h1>TutorMe</h1>
			</div>


			{% block nav-right-section %}
			<div class="user-btns-box">
				<a href="{% url 'mylogin' %}">Login</a>
				<a href="{% url 'signup' %}">Sign Up</a>
			</div>
			{% endblock %}
		</div>
	</header>
	<body>
		{% block main-body %}
		<h1>Like tinder, but for tutors and students.<h1>
		{% endblock %}
	</body>
</html>
