.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	
	/*
	background-color: #f1f1f1;
	*/
	background-color:white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 50px;
}

.dropdown-content a {
	/*
	color: black;
	*/
	color:  #8f3535;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	/*
	background-color: #ddd;
	*/
	background-color: #8f3535; 
	color: white;

}

.dropdown:hover .dropdown-content {
	display: block;
}


